{% extends 'dummy.html' %}

{% block title %}
    <title>home_page</title>
{% endblock %}

{% block body_block %}
    <center>
       <form method="POST">
        <h1>reset password</h1>
        {% csrf_token %}
            <label for="username">username</label>
            <input type="text" name="username" id="username"><br><br>
            <label for="password">reset_password</label>
            <input type="text" name="password" id="password"><br><br>
            <input type="submit" value="reset">
        </form>
    </center>
{% endblock %}